<div class="parallax"></div>

  <div class="row">
    <div class="twelve columns fixed-nav">
            {{> navigation}}

    </div>
  </div>
<br>
  <div class="row">
    <div class="twelve columns">
      <h1 class="post-title">{{actualPost.title}}</h1>
      <hr class="hr-main">
    </div>
  </div>
