<div class="row">
    <div class="six columns">
    {{> navigation}}
        <div class="welcome">
      <h1>Welcome!</h1>
    <p><br>This blog has been created as a part of my learning path at <a href="http://www.devacademy.co.nz/" target="_blank">Enspiral Dev Academy</a>.</p>
    </div>
  </div>
    <div class="six columns">
      <img src="images/tui-main.jpg" alt="Tui Kowhai">
    </div>
</div>
