<div class="row">
    <div class="six columns">
        <nav>
          <ul class="nav">
              <li><a href="index.html"><div class="nav-button">Blog</div></a></li>
              <li><a href="projects.html"><div class="nav-button">Projects</div></a></li>
              <li><a href="contact.html"><div class="nav-button">Contact</div></a></li>
          </ul>
        </nav>
        <div class="welcome">
      <h1>Welcome!</h1>
    <p><br>This blog has been created as a part of my learning path at <a href="http://www.devacademy.co.nz/" target="_blank">Enspiral Dev Academy</a>.</p>
    </div>
  </div>
    <div class="six columns">
      <img src="images/tui-main.jpg" alt="Tui Kowhai">
    </div>
</div>
