<nav>
  <ul class="nav">
      <li><a href="/"><div class="nav-button">Blog</div></a></li>
      <li><a href="/projects"><div class="nav-button">Projects</div></a></li>
      <li><a href="/contact"><div class="nav-button">Contact</div></a></li>
  </ul>
</nav>
