    <nav>
        <ul class="nav">
            <li><a href="index.html"><div class="nav-button">Blog</div></a></li>
            <li><a href="projects.html"><div class="nav-button">Projects</div></a></li>
            <li><a href="contact.html"><div class="nav-button">Contact</div></a></li>
        </ul>
    </nav>
