<div class="row">
      <div class="six columns">
          <img src="/images/kowhai.jpg" alt="Kowhai">
      </div>
      <div class="six columns">
          {{> navigation}}
          <h1>{{actualPost.title}}</h1>
          <hr class="hr-main">
      </div>
</div>
