<div class="row">
      <div class="six columns">
          <img src="/images/kowhai.jpg" alt="Kowhai">
      </div>
      <div class="six columns">
          {{> navigation}}
      </div>
      <div class="row">
        <div class="twelve columns">
          <h1 class="post-title">{{actualPost.title}}</h1>
          <hr class="hr-main">
        </div>
      </div>
</div>
