<div class="row">
  <div class="ten columns comments">

    <h4>User's comments</h4>
    {{#each comments}}
      <div class="user-comment">
        <h5>{{name}}</h5>
        <h6>{{comment}}</h6>
      </div>
      {{/each}}

  </div>
</div>
