{{> cultural-post-header }}

<div class="content-article">
  <div class="row">
    <div class="twelve columns">

        <p class="post-article">
            {{{actualPost.content}}}
        </p>
    </div>
  </div>

</div>

<div class="parallax"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script>
  var content = $('p').text()
   $("p").html(content).val();
</script>
