body, html {
    height: 100%;
}

.parallax {
      background-image: url('./images/tui-parallax.jpg');
      height: 100%;
      background-attachment: fixed;
      background-position: 80% 20%;
      background-repeat: no-repeat;
      background-size: cover;
}

.content-article {
background-color: #ffffff;
}
.fixed-nav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;

  top: 0;
  width: 100%;
  background-color: #ffffff;
  opacity: 0.6;
  filter: alpha(opacity=60);
  height: 73px;
}

nav ul li {
  display: inline-block;
  padding: 15px;
  float: right;
  margin-top: 0;
  padding-top: 0;
  top: 0;
}

.nav-button {
  background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 1.3em;
    font-family: 'Gentium Basic', serif;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}
li a {
   text-decoration: none;
}
.nav-button:hover {
  background-color: #F9FF7D;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(92,92,92,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(92,92,92,1);
  box-shadow: 5px 5px 5px 0px rgba(92,92,92,1);
}

.post-title {
text-align: center;
font-family: 'Niconne', cursive;
font-size: 3em;
letter-spacing: 3px;
clear: both;
}
.question {
font-family: 'Gentium Basic', serif;
font-style: italic;
font-size: 1.2em;
padding-right: 20px;
text-indent: 25px;
text-align: left;
}
.answer {
font-family: 'Gentium Basic', serif;
padding-right: 20px;
padding-left: 20px;
padding-bottom: 5px;
font-size: 1.1em;
text-indent: 25px;
text-align: left;
}
.answer li {
display: list-item;
list-style-type: square;
margin-bottom: 5px;
list-style-position: inside;
}
ul li {
list-style-type: none;
}
.post-article {
text-indent: 25px;
}
.secondary-header {
font-family: 'Gentium Basic', serif;
text-align: center;
font-size: 1.5em;
margin-top: 15px;
}
.content-article {
  margin-top: 73px;
}
.post-3-list li {
display: list-item;
list-style-type: square;
margin-bottom: 5px;
list-style-position: inside;
}
.post-3-list li:hover {
font-weight: bolder;
}

.post-3-list li a {
color: #000000;
}
.hr-main {
border: 0;
height: 1px;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
width:  80%;
}

a:visited {
text-decoration: none;
color: #000000;
}

footer {
margin: auto 0;
padding: 20px;
font-size: 0.9em;
text-align: center;
}
