.container {
  padding: 15px;
  border-width: 1px;
  border-style: solid;
  font-family: 'Gentium Basic', serif;
  -webkit-border-image:
     -webkit-gradient(linear, 0 0, 0 100%, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
   -webkit-border-image:
     -webkit-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
   -moz-border-image:
     -moz-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
   -o-border-image:
     -o-linear-gradient(black, rgba(0, 0, 0, 0)) 1 100%;
   border-image:
     linear-gradient(to bottom, black, rgba(0, 0, 0, 0)) 1 100%;
}

@media (min-width: 550px) {
  nav ul li {
    margin-bottom: 40px;
  }
  .welcome p {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  .welcome h1 {
    margin-top: 20px;
  }
}

img {
width: 100%;
}
nav ul li {
  display: inline-block;
  padding: 15px;
}

.nav-button {
  background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    text-align: center;
    text-decoration: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    font-size: 1.3em;
    font-family: 'Gentium Basic', serif;
    border-radius: 5px;
    width: 70px;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    }
li a {
   text-decoration: none;
}
.nav-button:hover {
  background-color: #F9FF7D;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(92,92,92,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(92,92,92,1);
  box-shadow: 5px 5px 5px 0px rgba(92,92,92,1);
}

.welcome h1 {
  font-family: 'Niconne', cursive;
  font-size: 5em;
  text-align: center;
  color: #333232;
  letter-spacing: 8px;
  margin-bottom: 0;
}
.welcome p {
  font-family: 'Niconne', cursive;
  font-size: 1.8em;
  text-align: left;
}

.hr-main {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  width:  80%;
}

article {
  width: inherit;
  border-right: 1px solid #5c5c5c;
  border-bottom: 1px solid #5c5c5c;
  -webkit-box-shadow: 7px 9px 10px 0px rgba(92,92,92,1);
  -moz-box-shadow: 7px 9px 10px 0px rgba(92,92,92,1);
  box-shadow: 7px 9px 10px 0px rgba(92,92,92,1);
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

article p {
  padding: 5px;
}
a article:hover {
  background-color: #FCFFC2;
  text-decoration: none;
  -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
       -o-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}

a article:active {
    background-color: #F8FF6B;
    text-decoration: none;
    -webkit-transform: rotate(5deg);
     -moz-transform: rotate(5deg);
       -o-transform: rotate(5deg);
      -ms-transform: rotate(5deg);
          transform: rotate(5deg);
}
a:visited {
  text-decoration: none;
  color: #000000;
}
.articles {
  margin-top: 70px;
}

.quote {
  font-family: 'Clicker Script', cursive;
  font-size: 2em;
  color: #000000;
  padding-left: 5px;
  padding-top: 5px;
  font-weight: bolder;
}

.article-sprint {
  font-family: 'Gentium Basic', serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: #000000;
  padding-left: 5px;
}

.tech-cult:not(:last-child) {
  margin-right: 10px;
}

.tech-cult {

  border: 2px solid #e7e7e7;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  font-family: 'Gentium Basic', serif;
  border-radius: 5px;
}

.tech-cult:hover {
  background-color: #F9FF7D;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(92,92,92,1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(92,92,92,1);
  box-shadow: 5px 5px 5px 0px rgba(92,92,92,1);
}

.hide {
  display: none;
}

footer {
  margin: auto 0;
  padding: 20px;
  font-size: 0.9em;
  text-align: center;
}


/******************
CONTACT AND ADMIN FORMS
*****************/
.contact-form {
  padding-bottom: 10px;
  border-right: 1px solid #5c5c5c;
  border-bottom: 1px solid #5c5c5c;
  -webkit-box-shadow: 7px 9px 10px 0px rgba(92,92,92,1);
  -moz-box-shadow: 7px 9px 10px 0px rgba(92,92,92,1);
  box-shadow: 7px 9px 10px 0px rgba(92,92,92,1);
  border-radius: 10px;
  font-family: 'Gentium Basic', serif;
}

#first-name, #last-name, #email-address, #form-button, #quote, #sprint, #type, #title {
   margin-top: 20px;
   height: 40px;
  }
  #text-area {
    margin-top: 20px;
    height: 120px;
  }
  #post-area {
    margin-top: 20px;
    height: 300px;
  }
  #first-name, #last-name, #email-address, #text-area, #quote, #sprint, #type, #title, #post-area {
     border: 2px solid #FFBF00;
  }
  #first-name:focus, #last-name:focus, #email-address:focus, #text-area:focus, #quote:focus, #sprint:focus, #type:focus, #title:focus, #post-area:focus {
    outline: none;
     box-shadow: 0 0 10px #FFBF00;
  }
::-webkit-input-placeholder {
  color: #D9D0B6;
  font-style: italic;
  font-size: 1.1em;
}
#form-button {
margin-bottom: 10px;
background-color: #FFBF00;
color: #FFFFFF;
border: none;
font-size: 1.3em;
font-family: 'Gentium Basic', serif;
border-radius: 5px;
margin-bottom: 15px;
}
#form-button:focus {
  outline: none;
   box-shadow: 0 0 10px #FFBF00;
}

/************
PROJECT PAGE
************/
.project-card {
  font-family: 'Gentium Basic', serif;
  font-style: italic;
  font-size: 1.4em;
  text-align: center;
  letter-spacing: 4px;
}
